.text-strange{
  color: #640303;
}

nav {
  background-color: rgb(36, 43, 49);
}

nav a {
  color: aliceblue;
}

nav a:hover {
  color : #d7dfd7;
}

.form-group {
  margin-top:30px;
}

.input-group{
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-group-addon{
  margin-right: 10px;
}

.checkbox {
  margin-right : 10px;
}

.aws-btn {

  --button-default-height: 48px !important;
  --button-default-font-size: 14px !important;
  --button-default-border-radius: 25px !important;
  --button-horizontal-padding: 50px !important;
  --button-raise-level: 5px !important;
  --button-hover-pressure: 2 !important;
  --transform-speed: 0.185s !important;
  --button-primary-color: #475472 !important;
  --button-primary-color-dark: #2a3143 !important;
  --button-primary-color-light: #d4d9e4 !important;
  --button-primary-color-hover: #424e6a !important;
  --button-primary-border: none !important;
  --button-secondary-color: #fffc6c !important;
  --button-secondary-color-dark: #b9b500 !important;
  --button-secondary-color-light: #6c6a00 !important;
  --button-secondary-color-hover: #fffb3e !important;
  --button-secondary-border: none !important;
  --button-anchor-color: #f3c8ad !important;
  --button-anchor-color-dark: #734922 !important;
  --button-anchor-color-light: #4c3016 !important;
  --button-anchor-color-hover: #f1bfa0 !important;
  --button-anchor-border: 1px solid #8c633c !important;
  }